<header class="logo">
  <span class="logo-helper"></span><img src="/assets/folyo-logo.png" alt="Folyo" class="logo">
</header>

<div class="reading wrap">
	<div style="margin-bottom: 2em; padding-bottom: 1em; border-bottom: 2px dashed #ddd;">
		<h1>Find the right freelance or agency partner for your project.</h1>
		
		<p class="intro">We'll help you craft a Project Brief and find the best candidates available within your budget–so you can focus on hiring the right firm.</p>

		<p class="intro" style="text-align: center;"><strong><a href="#get-started">Get started now</a></strong> or <strong><a href="MAILTO:folyo@letsworkshop.com">contact us</a></strong></p>
	</div>
</div>

<div class="reading wrap">	
	<h5 class="uppercase" style="text-align:center; margin:1em 0 0;">Startups we've helped in the past</h5>
	
	<img src="/assets/companies.png" style="margin: 1em 0 1em; width: 100%;">
	
	<h4 class="uppercase"style="margin-bottom: .5em;">How it works and what we do</h4>
	
	<p style="margin-top: 0;">Here's the deal. We'll take care of the stressful parts of hiring a design or development firm. You handle choosing the right partner&mdash;and get back to running your business. Whether you need a full team or just the occasional freelancer, we'll make it dead simple to find the right fit for your company, project, and budget&mdash;or your money back.</p>
	
	<div class="two-column" style="margin: 2em 0;">
		<h5 class="uppercase" style="margin: 0;"><span class="step">1</span> Sign up</h5>
		
		<p>Once we get your payment, we send you a short questionnaire you can fill out in minutes. From that, we create a Project Brief strategically designed to attract the best candidates on the web and weed out everyone else.</p>
		
		<h5 class="uppercase"><span class="step">2</span> Review</h5>
		
		<p>Next we review your brief, and offer custom suggestions and tips on how to improve it. Since we've worked with clients on all types of projects, we'll give you the inside scoop on what to expect.</p>
		
		<h5 class="uppercase"><span class="step">3</span> Sourcing</h5>
		
		<p>Once the project brief is perfect, we'll immediately start finding you the best candidates possible. We'll collect replies from 100s of candidates and find the best options available for your budget and specifications.</p>
		
		<h5 class="uppercase"><span class="step">4</span> Interview and Hiring</h5>
		
		<p>This is the last step. You'll interview the top three candidates and pick a partner. We'll take care of scheduling the interviews, so all you have to do is show up and pick the perfect candidate. That's it.</p>
	</div>
	
	<h4 class="uppercase" id="get-started" style="margin:2em 0 .5em; ">Folyo is risk-free with our 120% money-back guarantee</h4>

	<p style="margin: 0 0 2em;" class="offer">If you don't find the right partner for your project, we'll refund your entire purchase and give you a 20% discount on next time. Using Folyo is easy and we'll send your project to over 1,000 high-quality freelancers and agencies. Ready to post your project?</p>

	
	<center><img src="/assets/risk-free.png" style="margin: 2em 0 3em; width: 130px;"></center>	

	<p class="footer-menu"><a href="#">About</a> <a href="#">Guides</a> <a href="#">Press</a> <a href="#">Partners</a> <a href="#">Blog</a> <a href="#">Relaunch</a> <span style="color: #aaa;">© 2011-2016 Folyo</span></p>
</div>

