<h1>Welcome to the Folyo Family</h1>
<p><strong>Please read this page very carefulle, your service cannot start without you doing so!</strong></p>

<p>Thank you for signing up for Folyo! Please take note of the guidelines below to make the most out of our service, as well as to be sure that we find the absolute best fit for you, in regards to your project partner.</p>

<h2>Step #1 – Submit your Project Brief</h2>
<p>Firstly, <a href="#wufoo">click here to download the Project Brief Template</a> (Word format). State all of the type of work your project partner will be performing during the project. Please do not omit any fields requesting info and make this as in-depth as possible, as it will be the basis for us to work from, when we start sourcing candidates for you.</p>

<p>Once completed, send it directly to <a href="MAILTO:start@folyo.me">start@folyo.me</a> – we MUST have this back from you, before we can begin our service – don't be worried if you get stuck, we'll help you get it just right – it's the single most important part of the entire process.</p>

<h2>Step #2 – Our Sourcing & Testing Process Begins</h2>
<p>This is the longest part of the process. But, don't worry it doesn't require your input! Based on your Project Brief, we search our database for intial candidates. We then perform interview calls with them. If they pass our criteria, they then create full project proposals along with another couple of tests and interviews. Following this, we randomly check-up on their past projects to double check experience level, etc.</p>

<p><strong>This part fo the process takes 7-14 business days (excluding weekends and holidays) from the date we receive your Project Brief.</strong></p>

<h2>Step 3 – Your Interview and Hiring Decision</h2>
<p>The final step in the process. You interview the top three candidates that we present to you and pick your project partner.</p>
<p><strong>Important tip:</strong> Be sure to hire the one you like the most quickly, to make sure you get into their schedule.</p> 


<h2>Want to get a head start on everything?!</h2>
<p>A lot of startups and hiring companies make silly mistakes when they start working on projects together with freelancers and agencies. Lack of training, assuming how it works, and not having an idea of how to work with your new team can hinder the process when it comes to getting the most out your new hire. </p>

<p>This is why we've created a series of guides to help you know everything you need to know, right out of the gate to have the best start possible</p>

<h3>Read the guides</h3>
<ul>
	<li><a href="#">How to write a perfect job description</a></li>
	<li>
	<li><a href="#">How to write a perfect job description</a></li>
</ul>

<h2>Have a question? <a href="#">get in touch</a></h2>

