@font-face {
  font-family: 'concourse_t3italic';
  src: url('/assets/concourse_t3_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'concourse_t3regular';
    src: url('/assets/concourse_t3_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_t3bold_italic';
    src: url('/assets/concourse_t3_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_t3bold';
    src: url('/assets/concourse_t3_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_t4regular';
    src: url('/assets/concourse_t4_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_t4bold';
    src: url('/assets/concourse_t4_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_c3regular';
    src: url('/assets/concourse_c3_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_c3bold';
    src: url('/assets/concourse_c3_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
